.secondary-header {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: rgb(68, 68, 68);
  margin-top: 35px;
}

button {
  cursor: pointer;
}

.btn-animated {
  animation: moveInBottom 1s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}