.discover-ideas {
  font-family: "Montserrat", sans-serif;

  h2 {
    padding: 0 20px;
    margin-bottom: 33px;

    @media (min-width: 768px) {
      padding: 0 230px;
      margin: 90px 0 0 0;
    }

    @media (min-width: 1440px) {
      padding: 0 575px;
    }
  }

  .ideas {
    max-width: 940px;
    margin: auto;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .idea-container {
      padding: 0 10px 10px 10px;

      &.double {
        @media (min-width: 768px) {
          width: 66.6666%;
        }
      }

      @media (min-width: 768px) {
        box-sizing: border-box;
        padding: 10px;
        width: 33.3333%;
      }

      .idea {
        color: #fff;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        max-width: 304px;
        margin: 0 auto;

        @media (min-width: 768px) {
          height: 310px;
          max-width: 100%;
        }

        h3 {
          padding: 0 48px;
          text-align: center;
          font-weight: 700;
          font-size: 22px;
          line-height: 27px;

          @media (min-width: 768px) {
            padding: 0 24px;
          }
        }
      }

      .idea-sports {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/sports-mobile.png");
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/sports-tablet.png");
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .idea-wellness {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/wellness-mobile.png");
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/wellness-tablet.png");
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 82%;
        }
      }

      .idea-extreme {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/extreme-sports-mobile.png");
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/extreme-sports-tablet.png");
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 82%;
        }

        @media (min-width: 1440px) {
          h3 {
            padding: 0 53px;
          }
        }
      }

      .idea-games {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/games-mobile.png");
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/games-tablet.png");
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 36%;
        }
      }

      .idea-culture {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/culture-mobile.png");
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/culture-tablet.png");
          background-repeat: no-repeat;
          background-position: center;
        }

        h3 {
          padding: 0 19px;
        }
      }

      .idea-enjoyment {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/enjoyment-mobile.png");
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/enjoyment-tablet.png");
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 18%;
        }
      }

      .idea-traveling {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/traveling-mobile.png");
        background-repeat: no-repeat;

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/discover-ideas/traveling-tablet.png");
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 12%;
        }
      }
    }
  }
}
