.divider {
  border: 1px solid #ff4e50;
  margin-top: 40px;
}

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 20px;

  .logo {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ff4e50;
  }

  .footer-header {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: rgb(68, 68, 68);
  }

  .company {
    h3 {
      margin-bottom: 0;
    }

    ul {
      margin-top: 2px;
      list-style: none;
      padding: 0;
      color: rgb(153, 153, 153);

      li {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        display: inline;
        padding: 0 9px;
      }
    }
  }

  .designed-by {
    span {
      display: block;
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 1px;
      margin-bottom: 8px;
      color: #ccc;
    }
  }
}
