.divider {
  border: 1px solid #ff4e50;
  margin-top: 40px;

  @media (min-width: 768px) {
    margin-top: 100px;
  }
}

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 20px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 20px 40px;
  }

  @media (min-width: 1440px) {
    padding: 20px 250px;
  }

  .logo {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ff4e50;

    @media (min-width: 768px) {
      padding-top: 10px;
    }
  }

  .footer-header {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: rgb(68, 68, 68);
  }

  .company {
    h3 {
      margin-bottom: 0;

      @media (min-width: 768px) {
        margin-bottom: 12px;
      }
    }

    ul {
      margin-top: 2px;
      list-style: none;
      padding: 0;

      li {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        display: inline;
        padding: 0 9px;

        @media (min-width: 768px) {
          display: block;
          text-align: left;
          padding: 0;
        }

        a {
          color: rgb(153, 153, 153);
          text-decoration: none;
        }
      }
    }
  }

  .designed-by {
    @media (min-width: 768px) {
      padding-top: 15px;
    }

    span {
      display: block;
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 1px;
      margin-bottom: 8px;
      color: #ccc;
    }
  }
}
