.header-and-promo {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/mobile-header.png");
  height: 540px;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Montserrat", sans-serif;

  @media (min-width: 768px) {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/tablet-header.png");
    background-position-y: 11%;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 700px;
  }

  .header {
    @media (min-width: 768px) {
      display: flex;
      padding-top: 20px;
    }

    .logo {
      display: none;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      align-items: end;
      padding-left: 48px;
      padding-bottom: 7px;
      flex: 1;

      @media (min-width: 768px) {
        display: flex;
      }

      @media (min-width: 1440px) {
        padding-left: 248px;
      }
    }

    .buttons {
      text-align: center;
      font-size: 14px;
      height: 56px;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      @media (min-width: 768px) {
        padding-right: 50px;
      }

      @media (min-width: 1440px) {
        padding-right: 291px;
      }

      button {
        color: #fff;
        background: none;
        width: 90px;
        height: 36px;
      }

      .log-in {
        border: none;
      }

      .sign-up {
        border-radius: 40px;
        border: 2px solid;
      }
    }
  }

  .promo {
    padding-top: 97px;
    font-weight: 700;
    color: #fff;
    text-align: center;

    @media (min-width: 768px) {
      padding-top: 126px;
    }

    .logo {
      font-size: 20px;
      line-height: 24px;

      @media (min-width: 768px) {
        display: none;
      }
    }

    h1 {
      font-size: 30px;
      line-height: 37px;
      margin-top: 26px;
      margin-bottom: 0;
      padding: 0 20px;

      @media (min-width: 768px) {
        font-size: 52px;
        line-height: 63px;
        padding: 0 149px;
      }

      @media (min-width: 1440px) {
        padding: 0 485px;
        margin-bottom: 87px;
      }
    }

    h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: #f7f3f2;
      padding: 0 40px;
      margin-top: 10px;

      @media (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 40px;
        margin-top: 20px;
      }

      @media (min-width: 1440px) {
        display: none;
      }
    }

    button {
      width: 280px;
      height: 34px;
      background: #ff4e50;
      border: none;
      border-radius: 40px;
      font-weight: 700;
      color: #fff;
      font-size: 14px;

      @media (min-width: 768px) {
        width: 225px;
      }

      @media (min-width: 768px) {
        height: 40px;
      }
    }
  }
}
